<mat-toolbar class="white">
    <a class="btn-flat" (click)="back()"><i
            class="material-icons prefix">navigate_before</i></a>
            <span style="font-size: 20px; text-transform: uppercase; color: #505050;">{{nome}}</span>
    <a class="right" (click)="home()">
        <i class="material-icons" style="color: #505050;">home</i></a>
  </mat-toolbar>
<section class="teal accent-2">
    <div class="container">
        <div class="container"><br>
            <div class="card-panel">
                <div>
                    <mat-list>
                        <h3 style="font-size: 13pt;" mat-subheader>Ranque dos participantes</h3>
                        <mat-list-item *ngFor="let player of classe">
                          <mat-icon mat-list-icon>person</mat-icon>
                          <h4 mat-line> Nome: <span style="text-transform: uppercase;">{{ player.nome }}</span></h4>
                          <p mat-line><a (click)='rank(player.id)' class="btn small">Ver</a></p>
                        </mat-list-item>
                      </mat-list>
                      <div>
                        <button
                        style="margin:auto; display:block; margin-top: 8%;"
                        class="btn-flat waves-effect waves-grey teal-text darken-3"
                        (click)='criar()'>Criar Historia</button>
                      </div>
                </div>
            </div><br>
        </div>
    </div>
</section>