<div class="teal accent-2">
    <div class="container">
        <div class="container"><br>
            <div class="card-panel margens">
                <div class="input-field col s12 space">
                    <i class="material-icons prefix">person</i>
                    <input id="nome" type="text" class="validate" name="" value="">
                    <label for="nome">Nome do Personagem</label>
                </div><br>
                <div class="input-field col s12 space">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Descrição de personagem</label>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="row center-align">
                            <button type="button" class="btn teal darken-4" name="button">Criar</button>
                        </div>
                    </div>
                </div>
            </div><br>
        </div>
    </div>