<mat-toolbar class="white">
    <a class="btn-flat" [routerLink]="['/aluno']" routerLinkActive="router-link-active"><i
            class="material-icons prefix">navigate_before</i></a>
    <span>Aluno</span>
    <a class="right" [routerLink]="['/aluno']" routerLinkActive="router-link-active"><i
            class="material-icons black-text">home</i></a>
</mat-toolbar>
<div class="container">
    <div class="container"><br>
        <div class="card-panel">
            <div>
                <h5 class="center">Seus Dados</h5>
                <table>
                    <tr>
                      <td>
                        <output>---</output>
                      </td>
                      <td>
                        <output>---</output>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <output>---</output>
                      </td>
                      <td>
                        <output>---</output>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <output>---</output>
                      </td>
                      <td>
                        <output>---</output>
                      </td>
                    </tr>
                  </table>
                  <a class="btn-floating btn-right waves-effect"><i class="material-icons">edit</i></a>
            </div>
        </div>
    </div>
</div>
