<mat-toolbar class="white">
    <a class="btn-flat" [routerLink]="['/professor']" routerLinkActive="router-link-active"><i
            class="material-icons prefix">navigate_before</i></a>
    <span>Professor</span>
    <a class="right" [routerLink]="['/professor']" routerLinkActive="router-link-active"><i
            class="material-icons black-text">home</i></a>
</mat-toolbar>
<section class="teal accent-2">
    <div class="container">
        <div class="container"><br>
            <div class="card-panel">
                <div>
                    <mat-accordion>
                        <mat-expansion-panel *ngFor="let livro of livros">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{livro.name}}
                                </mat-panel-title>
                                <mat-panel-description>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <ul> <span [ngClass]="
                                {'concluido': livro.status == 'Concluído',
                                'andamento': livro.status == 'Em Andamento'}">
                                    {{livro.status}}</span>
                                <li style="margin-left: 50%; margin-top: 1%; margin-bottom: 0%;">
                                    <button style="font-size: small;"
                                        class="btn-flat waves-effect waves-grey teal-text darken-3"
                                        
                                        [ngClass]="{'desabilitado': livro.status == 'Concluído'}">Editar
                                    </button>
                                    <button [routerLink]="['/professor/classificacao']" routerLinkActive="router-link-active"  style="font-size: small;"
                                        class="btn-flat waves-effect waves-grey teal-text darken-3"
                                        >Classificação
                                    </button>
                                </li>
                            </ul>
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div><br>
        </div>
    </div>
</section>