.right{
    display: flex;
    position: absolute;
    right: 0px;
    margin-right: 5%;
}
.concluido{
    color: #64dd17;
    font-weight: bold;
}
.andamento{
    color: #ffa726;
    text-decoration: underline;
}
.desabilitado{
    display: none;
    visibility: hidden;
}