<div class="row">
    <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Pergunta</label>
    </div>
</div>
<div class="row">
    <div>
        <div>
            <label class="row">
                <input name="group1" type="radio" class=" col s2 pos-left"/>
                <span>A:</span>
                <input type="text" class="validate col s9 pos-right">
            </label>
        </div>
        <div>
            <label class="row">
                <input name="group1" type="radio" class=" col s2 pos-left"/>
                <span>B:</span>
                <input type="text" class="validate col s9 pos-right">
            </label>
        </div>
        <div>
            <label class="row">
                <input name="group1" type="radio" class=" col s2 pos-left"/>
                <span>C:</span>
                <input type="text" class="validate col s9 pos-right">
            </label>
        </div>
        <div>
            <label class="row">
                <input name="group1" type="radio" class=" col s2 pos-left"/>
                <span>D:</span>
                <input type="text" class="validate col s9 pos-right">
            </label>
        </div>
        <div>
            <label class="row">
                <input name="group1" type="radio" class=" col s2 pos-left"/>
                <span>E:</span>
                <input type="text" class="validate col s9 pos-right">
            </label>
        </div>
    </div>