<mat-toolbar class="white"> 
    <a class="btn-flat" [routerLink]="['/aluno/minhasAventuras']" routerLinkActive="router-link-active" ><i class="material-icons prefix">navigate_before</i></a>
    <span>Aluno</span>
    <a class="right" [routerLink]="['/aluno']" routerLinkActive="router-link-active"><i class="material-icons black-text">home</i></a>
</mat-toolbar>
<div class="teal accent-2">
    <div class="container">
        <div class="container">
            <div class="conatainer"><br>
                <div class="card-panel">
                    <p>
                        Neste campo irá conter uma historinha para nossos personagens, onde
                        ao ler os jogadores serão introduzidos ao problema e, em seguida lhe
                        será a apresentado a pergunta com as alternativas para os mesmos responder.
                    </p>
                    <div>
                        <p>Pergunta Valendo R$30.000,00 reais: Quem descobriu o Brasil foi: <br>
                            Pedro Alvares Ca _ _ _ _?</p>

                        <div class="row">
                            <div>
                                <div>
                                    <label class="row">
                                        <input name="group1" type="radio" class=" col s2 pos-left" />
                                        <span>A: brau</span>
                                    </label>
                                </div>
                                <div>
                                    <label class="row">
                                        <input name="group1" type="radio" class=" col s2 pos-left" />
                                        <span>A: breu</span>
                                    </label>
                                </div>
                                <div>
                                    <label class="row">
                                        <input name="group1" type="radio" class=" col s2 pos-left" />
                                        <span>A: briu</span>
                                    </label>
                                </div>
                                <div>
                                    <label class="row">
                                        <input name="group1" type="radio" class=" col s2 pos-left" />
                                        <span>A: brou</span>
                                    </label>
                                </div>
                                <div>
                                    <label class="row">
                                        <input name="group1" type="radio" class=" col s2 pos-left" />
                                        <span>A: brão</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="margin">
                        <a class="btn-floating waves-effect waves-light teal btn-left"><i
                                class="large material-icons">navigate_before</i></a>
                        <a class="btn-floating waves-effect waves-light teal btn-right"><i
                                class="large material-icons">navigate_next</i></a>
                    </div>
                </div><br>
            </div>
        </div>
    </div>
</div>